<div class="row mt-4">
    <div class="col-10 offset-1">
        <form #formulario="ngForm">

            <div class="form-group">
                <label>Nome: </label>
                <input type="text" 
                    class="form-control"
                    name="nome" 
                    [(ngModel)]="produto.nome" 
                    required 
                    [disabled]="formMode == 'consultar'"
                    #nome="ngModel">
                <small class="text-danger" *ngIf="nome.invalid && nome.dirty">
                    Campo NOME é obrigatório
                </small>
            </div>

            <div class="form-group">
                <label>Valor: </label>
                <input type="number" 
                    [min]="0.01"
                    [max]="9999999999999.99"
                    class="form-control" 
                    [disabled]="formMode == 'consultar'"
                    name="valor" 
                    [(ngModel)]="produto.valor" 
                    required 
                    #valor="ngModel">
                <div *ngIf="valor.invalid && valor.dirty">
                    <small class="text-danger" *ngIf="valor.errors.required">
                        Campo VALOR é obrigatório
                    </small>
                    <small class="text-danger" *ngIf="valor.errors.min">
                        Campo VALOR não pode ser menor ou igual a ZERO
                    </small>
                    <small class="text-danger" *ngIf="valor.errors.max">
                        Campo VALOR inválido
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Categoria: </label>
                <select class="form-control" 
                    name="categoria" 
                    [(ngModel)]="produto.categoria" 
                    required 
                    #categoria="ngModel"
                    [disabled]="formMode == 'consultar'">
                    <option value="NP">Não Perecível</option>
                    <option value="P">Perecível</option>
                </select>
                <small class="text-danger" *ngIf="categoria.invalid && categoria.touched">
                    Campo CATEGORIA é obrigatório
                </small>
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-primary" [disabled]="formulario.invalid" (click)="submitForm()" *ngIf="formMode != 'consultar'">
                    {{formMode | titlecase}}
                </button>
            </div>
        </form>
    </div>
</div>