<div class="row pt-4">
    <div class="col offset-1">Lista de Produtos</div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        <table class="table table-striped" *ngIf="produtos != null && produtos.length > 0 else noProdutosFound">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos">
                    <td>{{produto.nome}}</td>
                    <td>{{produto.valor}}</td>
                    <td>{{produto.categoria}}</td>
                    <td>
                        <button class="btn btn-primary" title="Consultar" [routerLink]="['/consultar',produto.id]">
                            <i class="far fa-address-card"></i>
                        </button>
                        <button class="btn btn-secondary ms-1" title="Editar" [routerLink]="['/editar',produto.id]">
                            <i class="far fa-edit"></i>
                        </button>
                        <button class="btn btn-danger ms-1" title="Excluir" [swal]="deleteSwal">
                            <i class="far fa-trash-alt"></i>
                        </button>

                        <swal #deleteSwal title="Deletar {{ produto.nome }}?" text="Essa operação não poderá ser desfeita" icon="question"
                            [showCancelButton]="true" [focusCancel]="true" (confirm)="excluir(produto.id)">
                        </swal>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noProdutosFound>
            <small>
                Nenhum Produto Cadastrado
            </small>
        </ng-template>
    </div>
</div>

<div class="row pt-3">
    <div class="col-10 offset-1">
        <button class="btn btn-primary" [routerLink]="['/adicionar']">
            Adicionar
        </button>
    </div>
</div>